body{
    background-color: rgb(205, 209, 255);
    text-align: center;
    color: rgb(0,0,100);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{
    color:brown;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: line;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;

}
h2{
    text-align: center;
}